<%= form_tag "/investments", method: :get do %>
  <div>
    <%= text_field_tag :ticker %>
    <%= submit_tag "Find stock" %>
  </div>
<% end %>

<h2><a href="#"><%= @name %></a></h2>
<h4><%= @symbol %></h4>
<div><%= @time %></div>
<p><%= @date %></p>
<p>
  <table class="inv">
    <tr>
      <td>Current price:</td>
      <td><%= number_to_currency(@current_price) %></td>
    </tr>
    <tr>
      <td>Open price:</td>
      <td><%= number_to_currency(@open_price) %></td>
    </tr>
    <tr>
      <td>Day change:</td>
      <td><%= @percent_change %>%</td>
    </tr>
  </table>
</p>
