<style type="text/css">
  .table {
    width: 35%;
    float: left;
    margin-right: 20px;
  }
</style>

<%= link_to "Search Investments", "/investments",  class: "btn btn-primary" %>


<div class="row">
    <div class="col-sm-2">
      <h2><%= @name %></h2>
      <h4><%= @symbol %></h4>
    </div>
    <div class="col-sm-2"><img id="logo-show" src="<%= @investment.logo %>"></div>
</div>

<p>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Current price</td>
        <td><%= number_to_currency(@current_price) %></td>
      </tr>
      <tr>
        <td>Open Price</td>
        <td><%= number_to_currency(@open_price) %></td>
      </tr>
      <tr>
        <td>Day Change</td>
        <td><%= @percent_change %>%</td>
      </tr>
      <tr>
        <td>1yr Year Low</td>
        <td><%= number_to_currency(@one_year_low) %></td>
      </tr>
      <tr>
        <td>1yr Year High</td>
        <td><%= number_to_currency(@one_year_high) %></td>
      </tr>
      <tr>
        <td>50 day MA</td>
        <td><%= number_to_currency(@fifty_ma) %></td>
      </tr>
      <tr>
        <td>200 day MA</td>
        <td><%= number_to_currency(@two_hundred_ma) %></td>
      </tr>
    </tbody>
  </table>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Yield</td>
        <% if @yield %>
          <td><%= number_with_precision(@yield, precision: 2) %>%</td>
        <% else %>
          <td>N/A</td>
        <% end %>
      </tr>
      <tr>
        <td>Ex-Div Date</td>
        <% if @ex_div_date %>
          <td><%= @ex_div_date %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
      </tr>
      <tr>
        <td>PE (TTM)</td>
        <% if @price_earnings %>
          <td><%= @price_earnings %></td>
        <% else %>
          <td>N/A</td>
        <% end %>
      </tr>
      <tr>
        <td>PS (TTM)</td>
        <td><%= @price_sales %></td>
      </tr>
      <tr>
        <td>EPS (TTM)</td>
        <td><%= number_to_currency(@eps) %></td>
      </tr>
      <tr>
        <td>EPS Q1 Estimate</td>
        <td><%= number_to_currency(@eps_quarter_estimate) %></td>
      </tr>
      <tr>
        <td>EPS 2016 Estimate</td>
        <td><%= number_to_currency(@eps_year_estimate) %></td>
      </tr>
    </tbody>
  </table>
</p>

<div style="clear: both">
  <%= form_tag "/investment_portfolios", method: :post, class: "sky-form" do %>
    <%= hidden_field_tag :investment_id, @investment.id %>
    <%= hidden_field_tag :portfolio_id, current_user.portfolios.first.id %>
    <%= hidden_field_tag :ticker, @investment.ticker %>
    <%= hidden_field_tag :purchase_price, @current_price %>
    <header>Add Investment To Your Portfolio</header>
    <fieldset>
      <section class="col col-4">
        <label class="label">Amount Purchased ($)</label>
        <label class="input">
          <%= text_field_tag :cost_basis, '', class: "input" %>
        </label>
        <label class="label">Date Purchased</label>
        <label class="input">
          <%= date_field_tag(:purchase_date, Date.today.strftime("%Y-%m-%d"))  %>
        </label>
      </section>
    </fieldset>
    <footer>
      <%= submit_tag "Submit", class: "btn-u" %>
    </footer>
  <% end %>
</div>
