<div ng-app="app">
  <div ng-controller="portfoliosCtrl" ng-init="setup()">
    <!-- performance table begins -->
    <h1 class="text-center">Summary</h1>
    <div class="panel panel-green margin-bottom-40">
      <div class="panel-heading">
        <i class="fa fa-user"></i>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <tr>
            <th>Investments</th>
            <th>Cost</th>
            <th>Purchase Date</th>
            <th class="text-center">MV</th>
            <th class="text-center">G/L</th>
            <th class="text-center">Weighting</th>
            <th class="text-center">YTD Return</th>
            <th class="text-center">6 Mo. Return</th>
            <th class="text-center">SI Return</th>
            <th class="text-center">Alpha</th>
            <th class="text-center">Risk</th>
            <th class="text-center">RA Return</th>
            <th class="text-center">Correlation</th>
            <th>Remove</th>
          </tr>
          <!% @portfolio.investment_portfolios.each do |investment_portfolio| %>
          <tr ng-repeat="investmentPortfolio in investmentPortfolios">
            <td><strong><a href="/investments/<!%= investment_portfolio.investment.id %>">{{ investmentPortfolio.ticker }}</a></strong></td>
            <td>{{ investmentPortfolio.cost_basis | currency : $ : 2 }}</td>
            <td>{{ investmentPortfolio.purchase_date }}</td>
            <td class="text-center">{{ investmentPortfolio.currentValue | currency : $ : 2  }}</td>
            <td class="text-center">{{ investmentPortfolio.gainLoss | currency : $ : 2 }}</td>

            <td class="text-center">{{ investmentPortfolio.weighting * 100 | number :2 }}%</td>

            <td class="text-center">0<!%= number_to_percentage(investment_portfolio.ytd_return * 100, :precision => 2) %></td>
            <td class="text-center">0<!%= number_to_percentage(investment_portfolio.six_month_return * 100, :precision => 2) %></td>
            <td class="text-center">0<!%= number_to_percentage(investment_portfolio.inception_return*100, :precision => 2) %></td>
            <td class="text-center">.90</td>
            <td class="text-center">{{ investmentPortfolio.standard_deviation * 100 | number :2 }}%</td>
            <td class="text-center">{{ investmentPortfolio.sharpe | number :2 }}</td>
            <td class="text-center">{{ investmentPortfolio.correlation | number :2 }}</td>
            <td class="text-center">0<!%= link_to 'X', "/investment_portfolios/#{investment_portfolio.id}", method: :delete, class:"btn btn-danger" %></td>
          </tr>
          <!% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td>{{ getTotalCost() | currency : $ : 2 }}</td>
            <td class="text-center">-</td>
            <td class="text-center">{{ totalCurrentValue | currency : $ : 2 }}</td>
            <td class="text-center">{{ totalGainLoss | currency : $ : 2 }}</td>
            <td class="text-center">{{ totalWeighting * 100 | number :0 }}%</td>
            <td class="text-center">0<!-- <!%= number_to_percentage(@portfolio_ytd_return * 100, :precision => 2) %> --></td>
            <td class="text-center">0<!-- <!%= number_to_percentage(@portfolio_six_month_return * 100, :precision => 2) %> --></td>
            <td class="text-center">0<!-- <!%= number_to_percentage(@inception_portfolio_return * 100, :precision => 2) %> --></td>
            <td class="text-center">.72</td>
            <td class="text-center">50% </td>
            <td class="text-center">.72</td>
            <td class="text-center">.72</td>
            <td class="text-center"><%= link_to 'X', "#", class:"btn btn-danger" %></td>
          </tr>
        </table>
      </div>
    </div><!-- performance table ends -->

  </div>
</div>



    <h1><%= @portfolio.name %></h1>
    <a href="/investments">Investments Index</a>

    <h2><a href="/investments/84">GE</a> </h2>

    <div class="stock">
      <%= form_tag "/portfolios/#{@portfolio.id}", method: :get do %>
        <div class="form-group" style="width: 25%">
          <%= text_field_tag :ticker, params[:ticker], class: 'form-control' %>
        </div>
        <div>
          <%= submit_tag "Find stock", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <% if params[:ticker] %>
      <div style="margin-top: 20px">
        <h4><a href="/investments/<%= @investment_portfolios.investment.id %>"><%= @name %></a> (<%= @symbol %>)</h4>
      </div>
      <!-- <div><!%= @date.strftime("%b %e, %l:%M %p") %></div> -->
      <p>
        <table class="inv">
          <tr>
            <td>Current price:</td>
            <td><%= number_to_currency(@current_price) %></td>
          </tr>
          <tr>
            <td>Open price:</td>
            <td><%= number_to_currency(@open_price) %></td>
          </tr>
          <tr>
            <td>Day change:</td>
            <td><%= @percent_change %>%</td>
          </tr>
        </table>
      </p>
      <div style="margin-bottom: 30px">
        <%= form_tag "/investment_portfolios", method: :post do %>
          <%= hidden_field_tag :investment_id, @investment.id %>
          <%= hidden_field_tag :portfolio_id, @portfolio.id %>
          <%= hidden_field_tag :ticker, params[:ticker] %>
          <%= hidden_field_tag :purchase_price, @current_price %>
          <div>
            Dollar amount:
            <%= text_field_tag :cost_basis %>
          </div>
          <div>
            Date purchased:
            <%= date_field_tag(:purchase_date, Date.today.strftime("%Y-%m-%d")) %>
          </div>
        <%= submit_tag "Add to portfolio", class: "btn btn-success" %>
        <% end %>
      </div>
    <% end %>

    <p><a href="/investment_portfolios">I_P's</a></p>

    <!-- performance table begins -->
<!--     <h1 class="text-center">Summary</h1>
    <div class="panel panel-yellow margin-bottom-40">
      <div class="panel-heading">
        <i class="fa fa-user"></i>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-striped">
          <tr>
            <th>Investments</th>
            <th>Cost</th>
            <th>Purchase Date</th>
            <th class="text-center">MV</th>
            <th class="text-center">G/L</th>
            <th class="text-center">Weighting</th>
            <th class="text-center">YTD Return</th>
            <th class="text-center">6 Mo. Return</th>
            <th class="text-center">SI Return</th>
            <th class="text-center">Alpha</th>
            <th class="text-center">Risk</th>
            <th class="text-center">RA Return</th>
            <th class="text-center">Correlation</th>
            <th>Remove</th>
          </tr>
          <!% @portfolio.investment_portfolios.each do |investment_portfolio| %>
          <tr>
            <td><strong><a href="/investments/<!%= investment_portfolio.investment.id %>"><!%= investment_portfolio.ticker %></a></strong></td>
            <td><!%= number_to_currency(investment_portfolio.cost_basis) %></td>
            <td><!%= investment_portfolio.purchase_date %></td>
            <td class="text-center">0<!%= number_to_currency(investment_portfolio.current_value) %></td>
            <td class="text-center">0<!%= number_to_currency(investment_portfolio.gain_loss) %></td>

            <td class="text-center"><!%= number_to_percentage(investment_portfolio.weighting() * 100, :precision => 2) %></td>

            <td class="text-center"><!%= number_to_percentage(investment_portfolio.ytd_return * 100, :precision => 2) %></td>
            <td class="text-center"><!%= number_to_percentage(investment_portfolio.six_month_return * 100, :precision => 2) %></td>
            <td class="text-center"><!%= number_to_percentage(investment_portfolio.inception_return*100, :precision => 2) %></td>
            <td class="text-center">.90</td>
            <td class="text-center">16.1%</td>
            <td class="text-center">.40</td>
            <td class="text-center">.72</td>
            <td class="text-center"><!%= link_to 'X', "/investment_portfolios/#{@investment_portfolio.id}", method: :delete, class:"btn btn-danger" %></td>
          </tr>
          <!% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td>0<!%= number_to_currency(@total_portfolio_cost) %></td>
            <td class="text-center">-</td>
            <td class="text-center">0<!%= number_to_currency(@total_portfolio_value) %></td>
            <td class="text-center">0<!%= number_to_currency(@total_gain_loss) %></td>
            <td class="text-center">100%</td>
            <td class="text-center"><!%= number_to_percentage(@portfolio_ytd_return * 100, :precision => 2) %></td>
            <td class="text-center"><!%= number_to_percentage(@portfolio_six_month_return * 100, :precision => 2) %></td>
            <td class="text-center"><!%= number_to_percentage(@inception_portfolio_return * 100, :precision => 2) %></td>
            <td class="text-center">.72</td>
            <td class="text-center">50% </td>
            <td class="text-center">.72</td>
            <td class="text-center">.72</td>
            <td class="text-center"><!%= link_to 'X', "#", class:"btn btn-danger" %></td>
          </tr>
        </table>
      </div>
    </div> --><!-- performance table ends -->

    <!-- <p><!%= link_to 'Delete Portfolio', "/portfolios/#{@portfolio.id}", method: :delete, class:"btn btn-danger" %></p> -->



