<!% @investment_portfolios.each do |investment_portfolio| %>
  <!%= investment_portfolio.total_weighting %>
<!% end %>

<%= @total_weighting %>



<div class="well">
  <% @investment_portfolios.each do |investment_portfolio| %>
    <table style="width: 30%">
      <tr>
        <td><a href="/investments/<%= investment_portfolio.investment.id %>"><%= investment_portfolio.investment.name %></a>
        </td>
        <td><%= number_to_percentage(investment_portfolio.weighting*100, :precision => 0) %></a>
        </td>
        <td class="text-center"><%= link_to 'X', "/investment_portfolios/#{investment_portfolio.id}", method: :delete, class:"btn btn-danger" %>
        </td>
      </tr>
    </table>
  <% end %>
  <div>
    <%= link_to "Back", "/portfolios/#{current_user.portfolios.first.id}", class: "btn btn-success"%>
  </div>
</div>
