

    <table class="table">
      <% @investment_portfolios.each do |investment_portfolio| %>
        <tr>
          <td class="text-center"><a href="/investments/<%= investment_portfolio.investment.id %>"><%= investment_portfolio.investment.name %></a></td>
          <td class="text-center"><%= investment_portfolio.investment.ticker %></td>
          <td class="text-center"><!%= investment_portfolio.shares*investment_portfolio.investment.current_price %></td>
          <td class="text-center"><!%= investment_portfolio.current_value %></td>
          <td class="text-center"><%= investment_portfolio.portfolio.id %></td>
          <td class="text-center"><%= investment_portfolio.investment.id %></td>
          <td class="text-center"><%= link_to 'X', "/investment_portfolios/#{investment_portfolio.id}", method: :delete, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </table>

